footer.footer
  .footer__social-media
    h2 confira minhas redes sociais
    .footer__social-media__links
      a(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener noreferrer" target="_blank" aria-label="acessar meu instagram")
        i.footer__social-media__links__icon(data-toggle="tooltip" title="siga-me no instagram" aria-hidden="true").fab.fa-instagram.fa-2x
      a(href="https://twitter.com/kevinnicolasbq" rel="noopener noreferrer" target="_blank" aria-label="acessar meu twitter")
        i.footer__social-media__links__icon(data-toggle="tooltip" title="siga-me no twitter" aria-hidden="true").fab.fa-twitter.fa-2x
      a(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener noreferrer" target="_blank" aria-label="acessar meu linkedin")
        i.footer__social-media__links__icon(data-toggle="tooltip" title="conecte-se comigo no linkedin" aria-hidden="true").fab.fa-linkedin-in.fa-2x
      a(href="https://github.com/kevinnicolasbq/" rel="noopener noreferrer" target="_blank" class="tooltip-color" aria-label="acessar meu github")
        i.footer__social-media__links__icon(data-toggle="tooltip" title="confira meu github" aria-hidden="true").fab.fa-github.fa-2x
  .footer__message
    p feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color" aria-label="amor")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por mim #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados" aria-hidden="true")] 2021.