meta(name="viewport" content="width=1, initial-scale=1.0")
meta(charset="utf-8")
meta(name="author" content="kevin quintino - @euKevinQuintino")
meta(name="description" content="oi, meu nome é kevin, eu projeto e desenvolvo experiências de usuário significativas e memoráveis - saiba mais sobre mim...")
meta(name="theme-color" content="#2f4f4f")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="img/ms-icon-144x144.png")
<!--facebook, linkedin e outros-->
meta(property="og:site_name" content="kevin quintino")
meta(property="og:title" content="kevin quintino - UX designer")
meta(property="og:type" content="website")
meta(property="og:description" content="oi, meu nome é kevin, eu projeto e desenvolvo experiências de usuário significativas e memoráveis - saiba mais sobre mim...")
meta(property="og:url" content="https://eu.kevinquintino.com/")
meta(property="og:image" content="https://i.imgur.com/oNRdqWk.png")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="628")
<!--twitter-->
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@euKevinQuintino")
meta(name="twitter:title" content="kevin quintino")
meta(name="twitter:description" content="oi, meu nome é kevin, eu projeto e desenvolvo experiências de usuário significativas e memoráveis - saiba mais sobre mim...")
meta(name="twitter:creator" content="@euKevinQuintino")
meta(name="twitter:image" content="https://i.imgur.com/oNRdqWk.png")
<!--favicon-->
link(rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192" href="img/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
<!--preconnects-->
link(rel="preconnect" href="https://ws14.hotjar.com")
link(rel="preconnect" href="https://fonts.gstatic.com")
<!--prioridades-->
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous")
link(href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet")
link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet")
<!--pace-->
link(rel="stylesheet" type="text/css" href="./css/pace-flat-top.min.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.2.4/pace.min.js" integrity="sha512-2cbsQGdowNDPcKuoBd2bCcsJky87Mv0LEtD/nunJUgk6MOYTgVMGihS/xCEghNf04DPhNiJ4DZw5BxDd1uyOdw==" crossorigin="anonymous" type="" async)
<!--bootstrap-->
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
<!--outros-->
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous")
link(rel="stylesheet" type="text/css" href="./css/main.min.css")
script(src="./js/main.min.js" type="")
script.
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TKD49SL');
