$main: #2f4f4f;
$link-alternative: #ffe383;
$base-text: #444;
$titulo: #555;
$citacao: #696969;
$white: #fff;

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

* {
  text-rendering: optimizeLegibility;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline-style: dashed !important;
  outline-width: 2px !important;
  outline-offset: 0.128rem !important;
  outline-color: lighten($main, 16%) !important;
  transition: outline-offset 0.2s linear;
}

body,
input,
textarea,
button {
  font-family: "Comic Neue", sans-serif;
  font-size: 62.5%;
}

mark {
  padding: 0px 3.2px;
  box-shadow: rgba(47, 79, 79, 0.24) 1px 1px;
  -webkit-print-color-adjust: exact;
  background-color: #ffe383;
  color: inherit;
  font-style: inherit;
  border-radius: 4px/96px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /*background-color: $link-alternative;
  padding: 0;
  color: $main;*/
}

strong {
  ////font-family: "Nunito", sans-serif;
  font-weight: 700;
}

em {
  font-weight: 400;
}

a,
input,
button,
img,
i {
  outline-offset: 0.5rem;
  transition: outline-offset 0.2s linear;
  &:hover {
    outline-offset: 0.125rem;
  }
}

::selection {
  background-color: $link-alternative;
  color: $main;
  font-weight: inherit;
}

:-moz-selection {
  background-color: $link-alternative;
  color: $main;
  font-weight: inherit;
}

.material-icons-round {
  vertical-align: -0.2rem;
  color: inherit;
  font-size: 1rem;
  margin-left: 2px;
}

.primary-button {
  //font-family: "Nunito", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: $white;
  padding: 4px 16px 4px 16px;
  border-radius: 6px;
  background-color: $main;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.48);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.48);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.48);
    background-color: darken($main, 2.8%);
    border-color: darken($main, 2.8%);
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
    box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
  }
}

.secondary-button {
  font-size: 1.8em;
  //font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: $main;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $white;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.48);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.48);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.48);
    background-color: lighten($main, 56%);
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
  }
}

.link {
  color: inherit;
  border-bottom: 2px solid $main;
  border-radius: 2px;
  text-decoration: none;
  font-weight: inherit;
  cursor: pointer;

  &:hover {
    color: $white;
    background: $main;
    text-decoration: none;
    border-radius: 0;
    .material-icons-round {
      color: $white;
    }
    &:visited {
      background-color: lighten($main, 8%) !important;
    }
  }

  &:active {
    text-decoration: none;
    transition: 0.1s;
    border-color: lighten($main, 4%) !important;
    background-color: lighten($main, 4%) !important;
    &:visited {
      background-color: lighten($main, 12%) !important;
      border-color: lighten($main, 12%) !important;
    }
  }

  &:visited {
    border-color: lighten($main, 8%) !important;
  }
}

.link-alternative {
  color: inherit;
  border-bottom: 2px solid $link-alternative;
  border-radius: 2px;
  text-decoration: none;
  font-weight: inherit;
  cursor: pointer;

  &:hover {
    background-color: $link-alternative !important;
    color: $main !important;
    text-decoration: none;
    border-radius: 0;
    .material-icons-round {
      color: $main !important;
    }
    &:visited {
      background-color: lighten($link-alternative, 12%) !important;
      border-color: lighten($link-alternative, 12%) !important;
    }
  }

  &:active {
    text-decoration: none;
    border-color: darken($link-alternative, 8%) !important;
    background-color: darken($link-alternative, 8%) !important;
    transition: 0.1s;
    &:visited {
      background-color: lighten($link-alternative, 4%) !important;
      border-color: lighten($link-alternative, 4%) !important;
    }
  }

  &:visited {
    border-color: lighten($link-alternative, 12%) !important;
  }
}

.above-the-fold {
  max-width: 1200px;
  margin: 0 auto;

  &__top {
    height: 80px;
    padding-top: 32px;
    padding-left: 0px;
    padding-right: 0px;

    img {
      width: 48px;
      height: 48px;
      float: left;
      transition: 0.2s;
      float: left;

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: translateY(1px);
      }
    }

    &__name {
      font-size: 2.8em;
      color: $main;
      padding: 8px;
      float: left;
      margin-left: 16px;
    }

    &__blog-link {
      font-size: 1.8em;
      padding-top: 6px;
      margin-right: 32px;
    }
  }

  &__message {
    height: 80px;
    font-size: 2.8em;
    text-align: center;
    padding: 16px;
    margin-top: 160px;
    color: $main;
  }

  &__check-more {
    height: 80px;
    width: 180px;
    text-align: center;
    color: $main;
    margin: 240px auto;
    margin-bottom: 0px;

    a {
      font-size: 1.8em;
      margin-bottom: 0;
      color: $main;
    }

    .material-icons-round {
      font-size: 3.2em;
    }

    &:hover {
      .material-icons-round {
        transition: 0.2s ease-in-out;
        transform: translateY(4px);
      }
    }
  }
}

.under-the-fold {
  width: 100%;

  &__bar {
    width: 100%;
    height: 900px;
    background-color: $main;
    position: absolute;
    z-index: -1;
  }

  &__resume {
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 48px;

    h2 {
      font-size: 2.8em;
      color: $white;
      //font-family: "Nunito", sans-serif;
      text-align: center;
      line-height: 1.2em;
      margin-bottom: 0.85em;
      font-weight: 700;
    }

    p {
      font-size: 1.8em;
      color: $white;
      font-weight: 400;
      max-width: 600px;
      margin: auto;
      line-height: 1.7em;
    }

    a:hover {
      font-weight: 400;
      margin-right: 0.45px;
    }

    &__hobbies {
      max-width: 600px;
      margin: 16px auto;
      margin-bottom: 16px;
      &__hobby {
        padding: 2px 10px;
        font-size: 1.8em;
        color: $main;
        margin: 8px;
        margin-left: 0;
        margin-right: 16px;
        background-color: $link-alternative;
        border-radius: 6px;
      }
    }
  }

  &__summary {
    margin: 0 auto;

    h3 {
      font-size: 2.4em;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
      //font-family: "Nunito", sans-serif;
      color: $main;
    }

    h4 {
      color: $titulo;
      font-size: 2.2em;
    }

    p {
      font-size: 1.8em;
      line-height: 1.7em;
      margin: 0;
      padding: 8px;
      color: $base-text;
    }

    input {
      margin-top: 12px;
      font-size: 1.7em;
    }

    &__row {
      margin: auto;
      align-content: center;
      justify-content: center;
      max-width: 1200px;

      &__left-column {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border: 1px solid $main;
        background-color: $white;
        padding: 24px;
      }

      &__middle-column {
        border-bottom: 1px solid $main;
        border-top: 1px solid $main;
        background-color: $white;
        padding: 24px;
      }

      &__right-column {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 1px solid $main;
        background-color: $white;
        padding: 24px;
      }
    }
  }

  &__projects {
    width: 100%;
    margin: 0 auto;
    &__content {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
      margin-bottom: 36px;

      h2 {
        font-size: 2.8em;
        color: $main;
        margin-bottom: 24px;
        padding: 16px;
        font-weight: 700;
        //font-family: "Nunito", sans-serif;
      }
      &__item {
        max-width: 576px;
        padding: 16px;
        float: left;
        border-radius: 12px;
        margin-bottom: 24px;
        height: 172px;
        //border: 1px solid rgba(47,79,79,1);
      }
      a {
        font-size: 2.2em;
        color: $main;
      }
      p {
        font-size: 1.8em;
        color: $base-text;
      }
    }
  }

  &__contact-me {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 80px auto;

    &__content {
      width: 1200px;
      text-align: center;
      margin: 0;
      padding: 80px;
      background-color: $main;
      border-radius: 12px;

      h2 {
        font-size: 2.8em;
        font-weight: 700;
        //font-family: "Nunito", sans-serif;
        color: $white;
        padding: 0px 16px 16px 8px;
      }

      p {
        padding: 8px;
        font-weight: 400;
        color: $white;
        font-size: 1.8em;
      }

      &__e-mail {
        margin: 8px;
        padding-bottom: 0;
        font-size: 2.2em !important;
        //font-family: "Nunito", sans-serif;
        color: $white;
        font-weight: 400;

        &:hover {
          color: lighten($white, 12%);
        }

        &:active {
          color: darken($white, 4%);
        }
      }

      &__location {
        margin-top: 16px;
        padding: 0;
        font-size: 1.8em;
        font-weight: 400;
        color: $white;

        .material-icons-round {
          margin-right: 8px;
          color: $white;
        }
      }
    }
  }

  &__achievements {
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: 2.8em;
      color: $main;
      margin-bottom: 24px;
      padding: 16px;
      font-weight: 700;
      line-height: 1.7em;
      //font-family: "Nunito", sans-serif;
    }
    img {
      margin-right: 16px;
      margin-bottom: 64px;
    }
    a {
      color: $main;
      font-size: 2.2em;
    }

    p {
      font-size: 1.8em;
      color: $base-text;
    }
    &__graduations {
      border-bottom: 1px solid rgba(47, 79, 79, 0.16);
      margin-bottom: 48px;
    }
    &__certifications {
      border-bottom: 1px solid rgba(47, 79, 79, 0.16);
      margin-bottom: 48px;
    }
    &__books {
      margin-bottom: 48px;
      p {
        margin-top: 8px;
      }
      img {
        border: 1px solid $main;
      }
    }
  }
}

.back-to-top {
  z-index: 6;
  position: fixed;
  width: 30px;
  bottom: 12px;
  transition: 0.2s;
  right: 12px;

  .material-icons-round {
    float: right;
    color: lighten($main, 10%);
    transition: 0.1s;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      background-color: $link-alternative;
      color: $main;
      transition: 0.2s;
    }
  }
}

.footer {
  margin-top: 48px;
  width: 100vw;
  height: 360px;
  background-color: $main;

  &__social-media {
    width: 300px;
    height: 240px;
    padding-top: 104px;
    margin: auto;
    text-align: center;

    h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
      font-size: 2.2em;
      font-weight: 700;
      //font-family: "Nunito", sans-serif;
      color: $white;
    }

    &__links {
      padding-top: 0;
      margin-top: 28px;

      a {
        margin-right: 8px;
        margin-left: 8px;
      }

      &__icon {
        width: 48px;
        height: 48px;
        border: 1px solid rgba(255, 255, 255, 0.69);
        padding: 13.5px;
        border-radius: 50%;

        &:hover {
          border-color: $link-alternative;
          cursor: pointer;
          transition: 0.2s;
        }
      }

      i {
        color: $white !important;
        &:hover {
          color: $link-alternative !important;
          transition: 0.2s;
        }
      }
    }
  }

  &__message {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 1.6em;

    i:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

li {
  color: $base-text;
  font-size: 1.8em;
  line-height: 1.8em;
  margin-left: -4px !important;
  .link {
    color: $main;
  }
}

//CASES/BLOG
.article-page {
  width: 100%;
  &__content {
    margin: 0 auto;
    max-width: 624px;
    padding: 24px;

    h1 {
      //font-family: "Nunito", sans-serif;
      font-weight: 900;
      font-size: 4em;
      color: $main;
      line-height: 1.2em;
      margin-bottom: 0.5em;
    }
    h2 {
      //font-family: "Nunito", sans-serif;
      font-weight: 800;
      line-height: 1.2em;
      font-size: 4em;
      color: $titulo;
      margin-top: 1em;
      margin-bottom: 0.25em;
    }
    h3 {
      //font-family: "Nunito", sans-serif;
      font-weight: 700;
      line-height: 1.2em;
      font-size: 3.2em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $titulo;
    }
    h4 {
      //font-family: "Nunito", sans-serif;
      font-weight: 700;
      line-height: 1.2em;
      font-size: 2.8em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $titulo;
    }

    h5 {
      //font-family: "Nunito", sans-serif;
      font-weight: 700;
      line-height: 1.2em;
      font-size: 2.4em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $titulo;
    }

    h6 {
      //font-family: "Nunito", sans-serif;
      font-weight: 700;
      line-height: 1.2em;
      font-size: 2em;
      margin-top: 1em;
      margin-bottom: 0.5em;
      color: $titulo;
    }

    text {
      //font-family: "Nunito", sans-serif;
      font-weight: 400;
      line-height: 1.8em;
      color: $titulo;
      float: center;
      line-height: 1.6em;
    }

    p {
      //font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 1.8em;
      color: $base-text;
      line-height: 1.8em;
    }
    strong {
      font-family: "Comic Neue", sans-serif;
    }
    iframe {
      width: 640px;
      height: 360px;
      display: block;
      margin: 0 auto;
    }
    figcaption {
      font-size: 1.6em;
      text-align: center;
      padding: 6px;
      color: $base-text;
    }
    q {
      font-size: 1.8em;
    }
    blockquote {
      font-size: 1.8em;
      line-height: 1.8em;
      font-style: normal;
      border-left: 4px solid $main;
      border-radius: 4px;
      padding-left: 16px;
      color: $citacao;
      p {
        font-size: 1em;
        color: $base-text;
      }
    }
    cite {
      font-size: 1.8em;
      font-style: normal;
      font-weight: 400;
      color: $base-text;

      a {
        &:hover {
          cursor: pointer;
        }
      }
    }
    address {
      font-size: 1.8em;
    }
    abbr {
      color: inherit;
      border-bottom: 2px dashed $main;
      border-radius: 2px;
      text-decoration: none;
      font-weight: inherit;
    }
    hr {
      margin: 12px 0;
      border-top: 1px solid rgba(47, 79, 79, 0.33);
      border-radius: 8px;
    }
    br {
      line-height: 2.4em;
    }
    ul {
      color: $base-text;
    }
    img {
      display: block;
      margin: 0 auto;
      padding: 0px;
      max-width: 100%;
      //border: 1px solid $main;
      //border-radius: 6px;
      &:hover {
        transition: 0.2s;
        cursor: pointer;
        opacity: 0.92;
      }
      &:active {
        transition: 0.1s;
        transform: translateY(2px);
      }
    }
    figcaption {
      margin-top: 8px;
      padding-top: 0;
      font-size: 1.6em;
      color: $base-text;
    }
    span {
      font-size: 1.8em;
      color: $main;
      margin-bottom: 16px !important;
    }
  }
  &__share {
    display: flex;
    justify-content: left;
    align-content: left;
    width: 840px;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 700;

    p {
      margin-right: 16px;
    }

    a {
      margin-right: 16px;
    }
  }
}

//BEGIN BOOTSTRAP
.modal {
  max-height: 88%;
}
.modal-open {
  overflow-y: hidden;
  padding-right: 0 !important;
}

.modal-content {
  width: 760px;
}

.tooltip-inner {
  background-color: darken($main, 12%);
  color: $white;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: darken($main, 12%) !important;
}

.modal-title {
  color: $main;
  font-size: 2.4em;
  //font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.modal-body {
  label {
    font-size: 1.4em;
    margin-bottom: 2px;
  }

  p {
    font-size: 1.8em;
    color: $main;
  }

  h5 {
    font-size: 2.4em;
    font-weight: 700;
    //font-family: "Nunito", sans-serif;
    color: $main;
  }
}

textarea:focus,
input:focus,
button:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(47, 79, 79, 0.8);
  box-shadow: 0 1px 1px rgba(47, 79, 79, 0.075) inset,
    0 0 8px rgba(47, 79, 79, 0.6);
  outline: 0 none;
}

//END BOOTSTRAP

@media (max-width: 767px) {
  .above-the-fold {
    height: 88vh;
    &__message {
      h1 {
        font-size: 1em !important;
      }
      font-size: 2.8em;
      margin-top: calc(-240px + 100vh - 44vh);
    }
    &__check-more {
      position: relative;
      bottom: 24px;
      //margin-top: calc(-240px + 100vh - 32vh);
    }
    &__top {
      padding-top: 24px;
      padding-left: 16px;
      padding-right: 16px;
      &__name {
        display: none;
      }
      &__blog-link {
        display: none;
      }
    }
  }
  .modal-content {
    width: 98%;
  }

  .back-to-top {
    display: none;
  }

  .under-the-fold {
    &__resume {
      padding-top: 64px;
      margin-top: 24px;

      h2 {
        line-height: 1.4em;
        text-align: left;
        font-weight: 700;
        padding-bottom: 16px;
      }

      p {
        text-align: left;
      }
    }

    &__bar {
      height: 1140px;
    }

    &__summary {
      &__row {
        &__left-column {
          p {
            text-align: left;
          }
          border: 1px solid $main;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          border-bottom-left-radius: 0;
          margin-bottom: -1px;
        }

        &__middle-column {
          p {
            text-align: left;
          }
          border: 1px solid $main;
          margin-bottom: -1px;
        }

        &__right-column {
          p {
            text-align: left;
          }
          border: 1px solid $main;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          border-top-right-radius: 0;
          margin-bottom: 32px;
        }
      }
    }

    &__contact-me {
      &__content {
        width: calc(100% - 32px);
        border-radius: 12px;
        text-align: left;
        padding: 36px 24px;

        &__e-mail {
          text-decoration: none;
          font-weight: 700;
          font-size: 1.8em !important;
        }

        &__location {
          margin-top: 24px;
          text-align: center;
        }
      }
    }

    &__projects {
      width: 100%;
      margin: 0 auto;
      &__content {
        &__item {
          width: calc(100% - 32px);
          float: left !important;
          margin: 16px;
        }
      }
    }
  }
  .article-page {
    margin-top: -76vh;
    h1 {
      font-size: 4em;
    }
    h2 {
      font-size: 3.2em;
    }
    h3 {
      font-size: 2.8em;
    }
    h4 {
      font-size: 2.4em;
    }
    h5 {
      font-size: 2.2em;
    }
    h6 {
      font-size: 2em;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .above-the-fold {
    &__top {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__message {
      margin-top: calc(-240px + 100vh - 48vh);
    }
    &__check-more {
      margin-top: calc(-240px + 100vh - 48vh);
    }
  }

  .under-the-fold {
    &__contact-me {
      &__content {
        max-width: calc(100% - 32px);
      }
    }
    &__projects {
      width: 100%;
      margin: 0 auto;
      &__content {
        &__item {
          width: calc(50% - 32px);
          margin: 16px;
        }
      }
    }
  }
  .article-page {
    margin-top: 4px;
  }
}

@media (min-width: 1400px) {
  .above-the-fold {
    &__message {
      margin-top: 220px;
    }
    &__check-more {
      margin-top: 280px;
    }
  }
}

.selecao-variantes-antiga {
  background-color: #fff;
  color: #333;
  border: 1px solid #767676;
  border-radius: 6px;
  padding: 8px 16px;
}
