$main: #2f4f4f;
$bg-selection: #ff0;
$white: #fff;

html,body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*:focus {
  outline-color: lighten($main, 16%) !important;
  outline-offset: 2px !important;
  outline-style: dashed !important;
  outline-width: 2px !important;
}

body,
input,
textarea,
button {
  font-family: "Comic Neue", sans-serif;
  font-size: 62.5%;
  transition: all 0.69s ease;
  letter-spacing: 0.032em;
}

mark {
  background-color: $bg-selection;
  padding: 0;
  color: $main;
}

strong {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

::selection {
  background-color: $bg-selection;
  color: $main;
}

:-moz-selection {
  background-color: $bg-selection;
  color: $main;
}

.primary-button {
  font-family: "Nunito", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: $white;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $main;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    background-color: darken($main, 2%);
    color: $white;
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
    box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
  }
}

.secondary-button {
  font-size: 1.8em;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: $main;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: $white;
  border: 2px solid $main;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);

  &:hover {
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    background-color: lighten($main, 56%);
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
  }
}

.link {
  color: $main;
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: lighten($main, 12%);
  }
  &:active {
    color: darken($main, 4%);
  }
}

.above-the-fold {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;

  &__top {
    height: 20%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    img {
      width: 48px;
      height: 48px;
      float: left;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
        transform: scale(1.069);
      }
    }

    input {
      float: right;
    }
  }

  &__message {
    height: 70%;
    font-size: 3.6em;
    text-align: center;
    line-height: 1.2em;
    padding: 16px;
    padding-top: 20vh;
    color: $main;
  }

  &__check-more {
    height: 10%;
    text-align: center;
    color: $main;
    z-index: 2;
    display: block;

    a {
      font-size: 1.8em;
      margin-bottom: 0;
      color: $main;
      text-decoration: underline;
    }

    &:hover {
      i {
        transition: 0.2s ease-in-out;
        transform: translateY(4px);
      }
      cursor: pointer;
    }

    i {
      font-size: 1.8em;
    }
  }
}

.under-the-fold {
  width: 100%;

  &__bar {
    width: 100%;
    height: 640px;
    background-color: $main;
    position: absolute;
    z-index: -1;
  }

  &__resume {
    max-width: 960px;
    margin: 0px auto;
    padding: 30px;
    padding-top: 96px;

    h1 {
      font-size: 2.8em;
      color: $white;
      font-family: "Nunito", sans-serif;
      text-align: center;
      line-height: 2.8em;
      font-weight: 600;
    }

    p {
      font-size: 1.8em;
      color: $white;
      text-align: center;
      line-height: 1.5em;
      font-weight: 400;
    }
  }

  &__summary {
    margin: 64px auto;
    text-align: center;

    h1 {
      font-size: 2.4em;
      font-weight: 600;
      margin-bottom: 20px;
      font-family: "Nunito", sans-serif;
      color: $main;
    }

    p {
      font-size: 1.8em;
      margin: 0;
      padding: 8px;
      color: $main;
    }

    input {
      margin-top: 12px;
      font-size: 1.7em;
    }

    &__row {
      margin: auto;
      align-content: center;
      justify-content: center;
      max-width: 1200px;

      &__left-column {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border: 1px solid $main;
        background-color: $white;
        padding: 24px;
      }

      &__middle-column {
        border-bottom: 1px solid $main;
        border-top: 1px solid $main;
        background-color: $white;
        padding: 24px;
      }

      &__right-column {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 1px solid $main;
        background-color: $white;
        padding: 24px;
      }
    }
  }

  &__contact-me {
    width: 100%;
    height: 540px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;

    &__content {
      width: 860px;
      height: 256px;
      color: $main;
      text-align: center;
      margin: 96px auto;

      h1 {
        font-size: 3.6em;
        font-family: "Nunito", sans-serif;
        padding: 16px;
      }

      p {
        padding: 8px;
        font-size: 2em;
      }

      &__e-mail {
        padding: 8px;
        font-size: 2.4em !important;
        font-family: "Nunito", sans-serif;
        color: $main;
        text-decoration: underline;
        font-weight: 400;

        &:hover {
          color: lighten($main, 12%);
        }
        &:active {
          color: darken($main, 4%);
        }
      }

      &__location {
        padding-top: 12px;
        font-size: 1.8em;

        i {
          margin-right: 8px;
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  width: 30px;
  bottom: 16px;
  transition: 0.2s;
  right: 0;

  i {
    float: right;
    margin-right: 24px;
    color: lighten($main, 8%);
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      color: darken($main, 8%);
    }
  }
}

.footer {
  margin-top: 44px;
  width: 100vw;
  height: 360px;
  background-color: $main;

  &__social-media {
    width: 256px;
    height: 240px;
    margin: auto;
    text-align: center;

    p {
      width: 100%;
      text-align: center;
      padding-top: 104px;
      margin-bottom: -80px;
      font-size: 2em;
      color: $white;
    }

    a {
      margin-right: 8px;
      margin-left: 8px;
    }

    &__icon {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(255, 255, 255, 0.69);
      padding: 13.5px;
      border-radius: 50%;
      margin-top: 108px;

      &:hover {
        border-color: rgba(255, 255, 255, 1);
        background-color: lighten($main, 6%);
        cursor: pointer;
        transition: 0.2s;
      }
    }

    i {
      color: $white !important;
    }
  }

  &__message {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
    margin-top: 4px;

    i:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
}

//BEGIN BOOTSTRAP
.modal {
  max-height: 88%;
}
.modal-open {
  overflow-y: hidden;
  padding-right: 0 !important;
}

.modal-content {
  width: 760px;
}

.tooltip-inner {
  background-color: $white;
  color: $main;
}

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: $white !important;
}

.modal-title {
  color: $main;
  font-size: 2.4em;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

.modal-body {
  label {
    font-size: 1.4em;
    margin-bottom: 2px;
  }

  p {
    font-size: 1.8em;
    color: $main;
  }

  h5 {
    font-size: 2.4em;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: $main;
  }
}

textarea:focus,
input:focus,
button:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(47, 79, 79, 0.8);
  box-shadow: 0 1px 1px rgba(47, 79, 79, 0.075) inset,
    0 0 8px rgba(47, 79, 79, 0.6);
  outline: 0 none;
}

//END BOOTSTRAP

@media (max-width: 767px) {
  .modal-content {
    width: 98%;
  }

  .back-to-top {
    display: none;
  }

  .above-the-fold {
    height: 90vh;
    &__message {
      font-size: 2.8em;
      height: 64%;
      margin-top: -52px;
      margin-bottom: 52px;
    }
    &__check-more {
      height: 14%;
    }
  }

  .under-the-fold {
    &__resume {
      padding-top: 64px;

      h1 {
        line-height: 1.5em;
      }
    }

    &__bar {
      height: 960px;
    }

    &__summary {
      margin-top: 32px;

      &__row {
        &__left-column {
          border: 1px solid $main;
          border-top-left-radius: 16px;
          border-top-right-radius: 16px;
          border-bottom-left-radius: 0;
          margin-bottom: -1px;
        }

        &__middle-column {
          border: 1px solid $main;
          margin-bottom: -1px;
        }

        &__right-column {
          border: 1px solid $main;
          border-bottom-left-radius: 16px;
          border-bottom-right-radius: 16px;
          border-top-right-radius: 0;
          margin-bottom: 32px;
        }
      }
    }

    &__contact-me {
      padding: 0;

      &__content {
        margin-top: 0;
        padding: 24px 24px;
        margin-bottom: -200px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .above-the-fold {
    &__message {
      margin-top: 36px;
      margin-bottom: -20px;
      height: 68%;
    }
  }

  .under-the-fold {
    &__contact-me {
      &__content {
        max-width: 720px;
      }
    }
  }
}
