doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml")
  head
    include includes/head
    title kevin quintino - designer de experiência
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TKD49SL" height='0' width='0' style='display:none; visibility:hidden')
    main
      section#apresentacao.above-the-fold
        header.above-the-fold__top
          a(href="." data-toggle="tooltip" title="minha logo (clicar recarregará a página)" aria-hidden="true")
            img(src="img/logo.svg" alt="")
          h1(data-toggle="tooltip" title="este é meu nome :v").above-the-fold__top__name kevin quintino
          a.link(onclick="RolarPara('contato'); return false;" data-toggle="tooltip" title="fale comigo") entrar em contato
        .above-the-fold__message
          h2 oi, eu sou o #[mark.mark(data-toggle="tooltip" title="meu nome :v" translate="no") kevin], eu projeto experiências significativas e memoráveis
        .above-the-fold__check-more
          a.link(href="#" onclick="RolarPara('motivacoes'); return false;" data-toggle="tooltip" title="descer para a próxima seção") saiba mais sobre mim #[br]
          span(class="material-icons-round" aria-hidden="true") expand_more
      section#motivacoes.under-the-fold
        .under-the-fold__bar
        .under-the-fold__resume 
            h2 um pouco sobre minhas motivações:
            p entregar uma experiência significativa, coesa e memorável para as pessoas me traz muita satisfação e realização pessoal.
            br
            p acredito que empatizar e co-criar com todas as partes interessadas, principalmente com as pessoas que vão interagir com a solução, é a forma mais efetiva de projetar uma experiência que atenda aos interesses e necessidades de todos, gerando o máximo de valor para todas as partes.
            br
            p meus principais pontos fortes são:
            ul(style="max-width: 600px; margin: auto;")
              li(style="color: white;") minha empatia;
              li(style="color: white;") meu autodidatismo;
              li(style="color: white;") e meu pensamento crítico, identificando problemas (ou oportunidades), comunicando-os compassivamente e colaborando com os envolvidos para identificar possíveis soluções.
            br
            p atualmente moro em são paulo e atuo como designer de experiência na 
              a.link-alternative(href="https://www.vhita.com.br/pages/sobre-nos-vhita" target="_blank" rel="noopener noreferrer" translate="no" data-toggle="tooltip" title="saber mais sobre a Vhita" lang="it") vhita#[span(class="material-icons-round" aria-hidden="true") launch]
              |  -- além de design de experiência, eu gosto de:
            div.under-the-fold__resume__hobbies
              label.under-the-fold__resume__hobbies__hobby jogos
              label.under-the-fold__resume__hobbies__hobby #[abbr(title="esportes eletrônicos") eSports]
              label.under-the-fold__resume__hobbies__hobby game design
              label.under-the-fold__resume__hobbies__hobby música (rock/#[abbr(title="música popular brasileira") MPB])
              label.under-the-fold__resume__hobbies__hobby instrumentos musicais
              label.under-the-fold__resume__hobbies__hobby youtube 
              label.under-the-fold__resume__hobbies__hobby psicologia
              label.under-the-fold__resume__hobbies__hobby livros
              label.under-the-fold__resume__hobbies__hobby criptomoedas
              label.under-the-fold__resume__hobbies__hobby séries/filmes
              label.under-the-fold__resume__hobbies__hobby vôlei
              label.under-the-fold__resume__hobbies__hobby programação
              label.under-the-fold__resume__hobbies__hobby computadores
              label.under-the-fold__resume__hobbies__hobby fotografia
              label.under-the-fold__resume__hobbies__hobby museus/exposições
        .container-lg.col-md-12.under-the-fold__summary
          .row.under-the-fold__summary__row
            .col-md-4.under-the-fold__summary__row__left-column
              h3(lang="en" translate="no") #[abbr(title="experiência do usuário") UX] researcher
              hr
              p como pesquisador, busco conhecer e entender profundamente as partes interessadas, para identificar problemas que elas enfrentam ou oportunidades para melhorar sua experiência.
              hr
              h4 fundamentos:
              ul
                li pesquisa científica;
                li #[a.link(href="https://www.interaction-design.org/literature/article/before-you-start-designing-it-s-time-to-get-out-of-the-building" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre o conceito de Get Out Of the Building") GOOB#[span(class="material-icons-round" aria-hidden="true") launch]];
                li #[a.link(href="https://www.nngroup.com/articles/research-ops-101/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre researchOps" lang="en" translate="no") researchOps#[span(class="material-icons-round" aria-hidden="true") launch]] e
                li #[a.link(href="https://blog.prototypr.io/what-is-atomic-research-e5d9fbc1285c" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre atomic UX research" lang="en" translate="no") atomic UX research#[span(class="material-icons-round" aria-hidden="true") launch]]. 
            .col-md-4.under-the-fold__summary__row__middle-column
              h3(lang="en" translate="no") #[abbr(title="experiência do usuário") UX] designer
              hr
              p como designer de experiência, projeto soluções que, além de resolver o problema ou aproveitar uma oportunidade, ofereçam uma experiência significativa para as pessoas.
              hr
              h4 fundamentos:
              ul
                li #[a.link(href="https://www.interaction-design.org/literature/article/a-simple-introduction-to-lean-ux" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre lean UX" lang="en" translate="no") lean UX#[span(class="material-icons-round" aria-hidden="true") launch]];
                li #[a.link(href="https://www.interaction-design.org/literature/topics/design-thinking" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre design thinking" lang="en" translate="no") design thinking#[span(class="material-icons-round" aria-hidden="true") launch]];
                li #[a.link(href="https://www.plainlanguage.gov/guidelines/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre plain language" lang="en") plain language#[span(class="material-icons-round" aria-hidden="true") launch]];
                li #[a.link(href="https://www.lukew.com/resources/mobile_first.asp" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre mobile first" lang="en" translate="no") mobile first#[span(class="material-icons-round" aria-hidden="true") launch]];
                li #[a.link(href="https://www.interaction-design.org/literature/topics/user-centered-design" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre user-centered design (UCD)" lang="en") user-centered design#[span(class="material-icons-round" aria-hidden="true") launch]] e
                li #[a.link(href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre Web Content Accessibility Guidelines") WCAG#[span(class="material-icons-round" aria-hidden="true") launch]].
            .col-md-4.under-the-fold__summary__row__right-column
              h3(lang="en" translate="no") front-end developer
              hr
              p minha experiência com programação me ajuda na comunicação com desenvolvedores, na previsão de restrições tecnológicas e na garantia da qualidade das implementações.
              hr
              h4 fundamentos:
              ul
                li #[a.link(href="https://agilemanifesto.org/iso/ptbr/manifesto.html" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre o manifesto ágil") manifesto ágil#[span(class="material-icons-round" aria-hidden="true") launch]];
                li #[a.link(href="https://gist.github.com/wojteklu/73c6914cc446146b8b533c0988cf8d29" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre clean code" lang="en" translate="no") clean code#[span(class="material-icons-round" aria-hidden="true") launch]] e
                li #[a.link(href="https://www.w3.org/WAI/standards-guidelines/aria/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="saber mais sobre Acessible Rich Internet Applications") ARIA#[span(class="material-icons-round" aria-hidden="true") launch]].
        .row.under-the-fold__projects(hidden)
          .col-md-12.under-the-fold__projects__content
            h2 conheça alguns projetos nos quais colaborei:
            .col-md-6.under-the-fold__projects__content__item(style="float: left;")
              a.link(href="https://eu.kevinquintino.com/selecao-de-variantes" rel="noopener" data-toggle="tooltip" title="") design e desenvolvimento do meu portfólio e blog
              p(style="margin-top: 8px;") entenda o que me levou a tomar cada decisão de design e desenvolvimento no meu portfólio e blog.
            .col-md-6.under-the-fold__projects__content__item(style="float: right;")
              a.link(href="https://eu.kevinquintino.com/selecao-de-variantes" rel="noopener" data-toggle="tooltip" title="") solução para a seleção de variantes dos produtos (vhita)
              p(style="margin-top: 8px;") saiba como foi o processo de solução para um problema na usabilidade da seleção de variantes dos produtos do e-commerce.
            .col-md-6.under-the-fold__projects__content__item(style="float: left;")
              a.link(href="https://eu.kevinquintino.com/redesign-fale-conosco" rel="noopener" data-toggle="tooltip" title="") redesign da página de atendimento (vhita)
              p(style="margin-top: 8px;") conheça o processo de redesign da página de atendimento ao cliente (fale conosco) do e-commerce.
            .col-md-6.under-the-fold__projects__content__item(style="float: right;")
              a.link(href="https://eu.kevinquintino.com/coleta-de-dados" rel="noopener" data-toggle="tooltip" title="") coleta de dados quanti-quali automatizada (vhita)
              p(style="margin-top: 8px;") entenda como pensei para definir onde e como coletar dados quantitativos e qualitativos de forma automatizada, no e-commerce.
            .col-md-6.under-the-fold__projects__content__item(style="float: left;")
              a.link(href="https://eu.kevinquintino.com/solucao-acesso-cadastro" rel="noopener" data-toggle="tooltip" title="") solução para os problemas no acesso/cadastro de contas (vhita)
              p(style="margin-top: 8px;") saiba como foram identificados e solucionados os problemas no acesso ou cadastro de contas, no e-commerce.
        .under-the-fold__contact-me#contato
          .under-the-fold__contact-me__content
            h2 vamos fazer algo memorável?!
            p adoraria te ajudar a solucionar seus problemas ou contribuir com seu projeto.#[br]#[strong envie-me um e-mail, vamos conversar!]
            div(style="text-align: center;")
              a.link-alternative.under-the-fold__contact-me__content__e-mail(href="mailto:eu@kevinquintino.com" data-toggle="tooltip" title="envie-me um e-mail") eu@kevinquintino.com
            .under-the-fold__contact-me__content__location
              span(class="material-icons-round" aria-hidden="true" style="vertical-align: -0.1rem; margin-left: 0;") location_on 
              | são paulo, SP, brasil.
        .row.under-the-fold__achievements
          .col-md-12.under-the-fold__achievements__graduations
            h2 estas são minhas graduações:
            .col-md-6.under-the-fold__achievements__graduations__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/fatec-sp-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="http://www.fatecsp.br/index.php?c=ti_new" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar a página do curso" aria-label="acessar página do curso") análise e desenvolvimento de sistemas#[span(class="material-icons-round" aria-hidden="true") launch]
                p #[strong fatec são paulo] - tecnólogo
                a.link(href="" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar trabalho de conclusão de curso" aria-label="acessar trabalho de conclusão do curso") visualizar TCC
            .col-md-6.under-the-fold__achievements__graduations__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/calarts-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="https://www.coursera.org/specializations/game-design" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar a página do curso" aria-label="acessar página do curso") game design: art and concepts#[span(class="material-icons-round" aria-hidden="true") launch]
                p #[strong california institute of the arts] - especialização (em andamento)
          .col-md-12.under-the-fold__achievements__certifications    
            h2 estes, os meus principais certificados:
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/design-for-the-21st-century-with-don-norman-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") design for the 21st century with don norman#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/service-design-how-to-design-integrated-service-experiences-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") service design: how to design integrated service experiences#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/dynamic-user-experience-design-and-usability-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") dynamic user experience: design and usability#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/gamification-creating-addictive-user-experiences-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") gamification: creating addictive user experiences#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/data-driven-design-quantitative-research-for-ux-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") data-driven design: quantitative research for UX#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/interaction-design-for-usability-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") interaction design for usability#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/psychology-of-interaction-design-the-ultimate-guide-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") psychology of interaction design#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/yale-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/the-science-of-well-being-yale-university-kevin-quintino-certificate.png" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") the science of well-being#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") yale university
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/accessibility-how-to-design-for-all-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") accessibility: how to design for all#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/user-research-methods-and-best-practices-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") user research: methods and best practices#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/psychology-of-ecommerce-how-to-sell-online-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") psychology of e-commerce: how to sell online#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/web-design-for-usability-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") web design for usability#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/human-computer-interaction-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") human-computer interaction#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
            .col-md-6.under-the-fold__achievements__certifications__item(style="float: right;")
              div(style="float: left;")
                img(src="./img/covers/IxDF-logo.svg" alt="" width="64" height="64")
              div
                a.link(href="./img/certificates/mobile-user-experience-ux-design-kevin-quintino-certificate-IxDF.jpg" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar certificado" aria-label="acessar certificado" lang="en") mobile user experience design#[span(class="material-icons-round" aria-hidden="true") launch]
                p(lang="en" translate="no") interaction design foundation
          a#mostrarMaisCertificados.link(href="#" onclick="MostrarMais('certificados'); return false;" data-toggle="tooltip" title="mostrar mais certificados" style="margin: 16px auto; margin-bottom: 16px;") mostrar mais
            span(class="material-icons-round" aria-hidden="true") expand_more
          .col-md-12.under-the-fold__achievements__books
            h2 e estes, os meus livros favoritos:
            .col-md-4.under-the-fold__achievements__books__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/non-violent-communication-cover.jpg" alt="capa do livro Non-Violent Communication" width="100" height="150" loading="lazy") 
              div
                a.link(href="https://www.amazon.com.br/dp/B014OISVU4/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar e-book na amazon" aria-label="acessar e-book non-violent communication" lang="en" translate="no") non-violent communication#[span(class="material-icons-round" aria-hidden="true") launch]
                p(aria-label="autor" lang="en" translate="no") marshall b. rosenberg
            .col-md-4.under-the-fold__achievements__books__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/ego-is-the-enemy-cover.jpg" alt="capa do livro Ego is the Enemy" width="100" height="150" loading="lazy") 
              div
                a.link(href="https://www.amazon.com.br/dp/B01AWUTMB0/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar e-book na amazon" aria-label="acessar e-book ego is the enemy" lang="en" translate="no") ego is the enemy#[span(class="material-icons-round" aria-hidden="true") launch]
                p(aria-label="autor" lang="en" translate="no") ryan holiday
            .col-md-4.under-the-fold__achievements__books__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/steal-like-an-artist-cover.jpg" alt="capa do livro Steal Like An Artist" width="100" height="150" loading="lazy") 
              div
                a.link(href="https://www.amazon.com.br/dp/B0074QGGK6/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar e-book na amazon" aria-label="acessar e-book ego is the enemy" lang="en" translate="no") steal like an artist#[span(class="material-icons-round" aria-hidden="true") launch]
                p(aria-label="autor" lang="en" translate="no") austin kleon
            .col-md-4.under-the-fold__achievements__books__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/lean-ux-cover.jpg" alt="capa do livro Lean UX" width="100" height="150" loading="lazy") 
              div
                a.link(href="https://www.amazon.com.br/dp/1491953608/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar e-book na amazon" aria-label="acessar e-book lean UX" lang="en" translate="no") lean UX#[span(class="material-icons-round" aria-hidden="true") launch]
                p(aria-label="autores" lang="en" translate="no") jeff gothelf e josh seiden
            .col-md-4.under-the-fold__achievements__books__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/made-to-stick-cover.jpg" alt="capa do livro Made to Stick" width="100" height="150" loading="lazy") 
              div
                a.link(href="https://www.amazon.com.br/dp/B000N2HCKQ/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar e-book na amazon" aria-label="acessar e-book made to stick" lang="en" translate="no") made to stick#[span(class="material-icons-round" aria-hidden="true") launch]
                p(aria-label="autores" lang="en" translate="no") chip heath e dan heath
            .col-md-4.under-the-fold__achievements__books__item(style="float: left;")
              div(style="float: left;")
                img(src="./img/covers/dont-make-me-think-cover.jpg" alt="capa do livro Don't Make Me Think" width="100" height="150" loading="lazy") 
              div
                a.link(href="https://www.amazon.com.br/dp/B00HJUBRPG/" target="_blank" rel="noopener noreferrer" data-toggle="tooltip" title="visualizar e-book na amazon" aria-label="acessar e-book don't make me think" lang="en" translate="no") don't make me think#[span(class="material-icons-round" aria-hidden="true") launch]
                p(aria-label="autores" lang="en" translate="no") steve krug
          a#mostrarMaisLivros.link(href="#" onclick="MostrarMais('livros'); return false;" data-toggle="tooltip" title="mostrar mais livros" style="margin: 16px auto; margin-bottom: 16px;") mostrar mais
            span(class="material-icons-round" aria-hidden="true") expand_more
      .back-to-top(style="display: none;")
        span(class="material-icons-round" title="voltar ao topo" onclick="RolarPara('apresentacao'); return false;" aria-hidden="true") expand_less
    include includes/footer