doctype html
html(lang="pt-br")
  head
    include includes/head
  body.dark
    section.above-the-fold
      header.above-the-fold__top
        img(src="img/logomark.svg" onclick="toHome()")
        input(type="button" value="Diga um oi")
      .above-the-fold__message
        p Oi, eu sou o #[strong Kevin]. Eu projeto e desenvolvo
        p { interfaces de usuário }
      .above-the-fold__check-more(onclick="scrollToSectionTwo()")
        p saiba mais sobre mim
        i.fa.fa-chevron-down.fa-3x

    section#sectionTwo.under-the-fold
      .under-the-fold__bar

      .under-the-fold__resume 
        h1 Um breve resumo sobre minha jornada...
        p Desde cedo, as áreas de web/graphic design, psicologia e programação me cativaram. Entretanto, eu acreditava que deveria escolher apenas uma delas para atuar profissionalmente. Durante muito tempo, tratei-as como se fossem mutuamente exclusivas, quando finalmente tive contato com o desenvolvimento front-end, o design de interface (UI) e o design de experiência do usuário (UX).
        p Atualmente, aprimoro minhas habilidades e conhecimentos em UX e UI design, além de adquirir conhecimentos em áreas pertinentes ao desenvolvimento web, como SEO e copywriting. Para isso, produzo artigos que abordam temas como desenvolvimento front-end, UX/UI design e eSports. 
      .container-lg.under-the-fold__summary
        .col-lg-4.under-the-fold__summary__left-column
          h1 Desenvolvedor front-end
          p Desenvolver sites otimizados, acessíveis e responsivos é uma tarefa que me traz muito prazer e satisfação.
          h2 Tecnologias que eu uso
          p HTML
          p CSS
          p JS
          p GulpJS
          p SASS
          p PugJS
          p WordPress
          p Bootstrap
          p Git
        .col-lg-4.under-the-fold__summary__middle-column
          h1 Designer de UX/UI
          p Quando designer, meu foco é projetar interfaces que proporcionem uma boa experiência aos seus usuários.
          h2 Ferramentas que utilizo
          p Lápis e papel
          p Adobe Photoshop
          p Adobe Illustrator
          p Adobe XD
          p InVision App
        .col-lg-4.under-the-fold__summary__right-column
          h1 Criador de conteúdo
          p Saber produzir conteúdo para a web é essencial, utilizando o marketing digital e boas técnicas de SEO.
          h2 O que eu levo em consideração
          p Copywriting
          p Técnicas de SEO
          p Vocabulário coerente com o do público-alvo
          p Pertinência do tema para o público-alvo
          p Veracidade das informações ou conhecimento passado
          p Clareza e coesão
          p Persuação ao engajamento
          p Criação de comunidade

    footer.footer
      .footer__social-media
        p Confira minhas redes sociais
        i.footer__social-media__icon.fab.fa-instagram.fa-2x
        i.footer__social-media__icon.fab.fa-twitter.fa-2x
        i.footer__social-media__icon.fab.fa-linkedin-in.fa-2x
        i.footer__social-media__icon.fas.fa-envelope.fa-2x
      .footer__message
        p Feito com #[i.fas.fa-heart] e #[i.fas.fa-mug-hot] por #[strong Kevin Quintino].

