doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include includes/head
  body
    section#sectionOne.above-the-fold
      header.above-the-fold__top
        img(src="img/logomark.svg" onclick="toHome()" alt="logomarca")
        //input(type="button" data-toggle="modal" data-target="#contactModal" value="Diga um oi")
      .above-the-fold__message
        p oi, eu sou o #[strong kevin]! eu projeto e desenvolvo
        p { experiências de usuário }
      .above-the-fold__check-more
        p(onclick="scrollToSectionTwo()") saiba mais sobre mim
        i.fa.fa-chevron-down.fa-3x(onclick="scrollToSectionTwo()")

    section#sectionTwo.under-the-fold
      .under-the-fold__bar
      .under-the-fold__resume 
        h1 pesquisa, design e desenvolvimento de experiências do usuário
        p O desenvolvimento web sempre me cativou. Projetar e desenvolver experiências que permitem seus usuários realizarem suas tarefas de forma eficaz, eficiente e satisfatória, me traz uma enorme satisfação pessoal.
        p Além de projetar e desenvolver experiências, também conheço e aplico boas práticas de SEO, produção/criação de conteúdo e marketing digital.
      .container-lg.col-md-12.under-the-fold__summary
        .row.under-the-fold__summary__row
          .col-md-4.under-the-fold__summary__row__left-column
            h1 designer de UX/UI
            hr
            p quando designer, meu foco é projetar experiências usáveis e memoráveis para seus usuários.
            input(type="button" value="ferramentas que utilizo" data-toggle="modal" data-target="#designerTools")
          .col-md-4.under-the-fold__summary__row__middle-column
            h1 desenvolvedor front-end
            hr
            p desenvolver sites otimizados, acessíveis e responsivos é uma tarefa que me traz muito prazer e satisfação.
            input(type="button" value="tecnologias que utilizo" data-toggle="modal" data-target="#developerTechnologies")
          .col-md-4.under-the-fold__summary__row__right-column
            h1 criador de conteúdo
            hr
            p saber produzir conteúdo para a web é essencial, utilizando o marketing digital e boas técnicas de SEO.
            input(type="button" value="o que considero" data-toggle="modal" data-target="#contentCreatorMindset")
      .under-the-fold__contact-me
        .under-the-fold__contact-me__content
          h1 precisa de ajuda em seu projeto?
          p adoraria te ajudar a solucionar seus problemas ou contribuir de alguma forma com seu projeto. envie-me um e-mail, vamos conversar!
          p.under-the-fold__contact-me__content__e-mail #[strong contato@kevinnicolasbq.com]
          .under-the-fold__contact-me__content__location
            i.fas.fa-map-marker-alt
            | são paulo, sp, brasil.
    //Modal designer tools
    #designerTools.modal.fade(tabindex="-1" role="dialog" aria-labelledby="designerTools" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title saiba quais ferramentas eu utilizo
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            p #[strong Caneta e papel] - Afinal, a prototipação descartável é uma forma rápida e barata de testar e obter feedback sobre uma ideia.
            p #[strong Adobe XD] - Quando um protótipo mais fidedigno é necessário, utilizo o XD.
            p #[strong Adobe Photoshop] - Quando é necessário manipular alguma imagem, utilizo o Photoshop.
            p #[strong Adobe Illustrator] - Quando é necessário vetorizar alguma imagem, utilizo o Illustrator.
            p #[strong InVision] - Recorro a ele sempre que preciso construir wireframes ou protótipos de baixa fidelidade.
          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar")  
    //Modal developer technologies
    #developerTechnologies.modal.fade(tabindex="-1" role="dialog" aria-labelledby="developerTechnologies" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title saiba quais tecnologias eu utilizo
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            p #[strong HTML/CSS/JS] - Digamos que este é o kit básico/essencial para o desenvolvimento web.
            p #[strong PugJS] - Além de deixar o código HTML mais "limpo" e legível, adiciona diversas possibilidades ao HTML.
            p #[strong SASS] - Eu amo SASS! Esta linguagem facilita muito o processo de estilização das páginas, principalmente quando utilizando o padrão BEM. Utilizo a sintaxe SCSS (Sassy CSS).
            p #[strong GulpJS] - Esta ferramenta de automação me auxilia muito durante o desenvolvimento. Processando arquivos .pug e .scss, além de minificar os arquivos .html, .css e .js que serão enviados ao navegador do usuário.
            p #[strong Bootstrap] - Em alguns projetos, utilizar uma framework como esta, aumenta a eficiência da fase de implementação.
            p #[strong WordPress] - Dependendo do projeto, considero muito viável utilizar o WordPress, apesar de seus contras.
            p #[strong Git] - Afinal, versionamento é indispensável em um projeto, independente de sua grandeza ou complexidade.
            p #[strong VS Code] - Minha IDE favorita, sem dúvidas. Suas extensões e funcionalidades me auxiliam imensamente durante o desenvolvimento.
            hr
            h5 padrões, arquiteturas e metodologias
            p #[strong MVC] - Talvez o padrão de arquitetura mais popular nos dias de hoje, ele funciona muito bem com projetos web, e pode ser aplicado a praticamente qualquer projeto.
            p #[strong BEM] - Após conhecer esta metodologia de nomenclatura de classes, passei a aplicá-la em todos os meus projetos, pois ela é extremamente útil e facilita a estilização (por meio do SASS).
            p #[strong SCRUM] - Um dos frameworks de gerenciamento de projetos mais populares e utilizados no mercado de trabalho, traz uma enorme eficiência e agilidade - afinal, é uma metodologia de desenvolvimento ágil - para a equipe.
          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar")  
    //Modal content creator mindset
    #contentCreatorMindset.modal.fade(tabindex="-1" role="dialog" aria-labelledby="contentCreatorMindset" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Saiba o que levo em consideração
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            p #[strong Pertinência] - A utilidade é - para mim - um dos fatores mais importantes quando escolhendo um tema.
            p #[strong Copywriting] - Afinal, ainda que o tema seja pertinente e procurado, quando mal escrito, o artigo perde muito de seu potencial.
            p #[strong Engajamento] - Considero extremamente importante que os posts promovam uma interação com os seguidores. Criando assim um sentimento de proximidade entre a marca e o consumidor, além de  promover - indiretamente - a postagem.
            p #[strong SEO] - Afinal, com tanta concorrência, qualquer ajuda para ranquear melhor nos buscadores é bem-vinda.
            p #[strong Frequência] - Os usuários e algoritmos das redes sociais gostam de páginas/perfis que postam conteúdo frequentemente.
          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar")    
    .back-to-top
      i.fas.fa-chevron-up.fa-4x(onclick="backToTop()")

    footer.footer
      .footer__social-media
        p confira minhas redes sociais
        .footer__social-media__links
          a(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.
