doctype html
html(lang="pt-br")
  head
    include includes/head
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TKCTJDT" height="0" width="0" style="display:none;visibility:hidden")
    section#sectionOne.above-the-fold
      header.above-the-fold__top
        img(src="img/logomark.svg" onclick="toHome()" alt="logomarca")
        //input(type="button" data-toggle="modal" data-target="#contactModal" value="Diga um oi")
      .above-the-fold__message
        p Oi, eu sou o #[strong Kevin]. Eu projeto e desenvolvo
        p { interfaces de usuário }
      .above-the-fold__check-more(onclick="scrollToSectionTwo()")
        p saiba mais sobre mim
        i.fa.fa-chevron-down.fa-3x

    section#sectionTwo.under-the-fold
      .under-the-fold__bar

      .under-the-fold__resume 
        h1 Design, desenvolvimento e criação de conteúdo
        p O desenvolvimento web sempre me cativou. Projetar e desenvolver interfaces que agradem e suportem seus usuários, proporcionando-os uma experiência memorável, me traz uma enorme satisfação pessoal.
        p Além de projetar e desenvolver, também conheço e aplico boas práticas de SEO e produção/criação de conteúdo e marketing digital.
      .container-lg.col-md-12.under-the-fold__summary
        .row.under-the-fold__summary__row
          .col-md-4.under-the-fold__summary__row__left-column
            h1 Desenvolvedor front-end
            hr
            p Desenvolver sites otimizados, acessíveis e responsivos é uma tarefa que me traz muito prazer e satisfação.
            input(type="button" value="Tecnologias que eu utilizo" data-toggle="modal" data-target="#developerTechnologies")
            hr
            button(data-toggle="modal" data-target="#developerModal")
              i.fab.fa-dev.fa-2x 
              | Projetos desenvolvidos
          .col-md-4.under-the-fold__summary__row__middle-column
            h1 Designer de UX/UI
            hr
            p Quando designer, meu foco é projetar interfaces que proporcionem uma boa experiência aos seus usuários.
            input(type="button" value="Ferramentas que utilizo" data-toggle="modal" data-target="#designerTools")
            hr
            button(data-toggle="modal" data-target="#designerModal")
              i.fas.fa-pencil-ruler.fa-2x
              | Designs projetados
          .col-md-4.under-the-fold__summary__row__right-column
            h1 Criador de conteúdo
            hr
            p Saber produzir conteúdo para a web é essencial, utilizando o marketing digital e boas técnicas de SEO.
            input(type="button" value="O que eu considero" data-toggle="modal" data-target="#contentCreatorMindset")
            hr
            button(data-toggle="modal" data-target="#contentCreatorModal")
              i.fas.fa-bullhorn.fa-2x
              | Meus feitos e princípios

    //Modal developer technologies
    #developerTechnologies.modal.fade(tabindex="-1" role="dialog" aria-labelledby="developerTechnologies" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Saiba quais tecnologias eu utilizo
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar formulário")  
            input.modal-primary-button(type="submit" value="Enviar mensagem")

    //Modal designer tools
    #designerTools.modal.fade(tabindex="-1" role="dialog" aria-labelledby="designerTools" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Saiba quais ferramentas eu utilizo
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar formulário")  
            input.modal-primary-button(type="submit" value="Enviar mensagem")

    //Modal content creator mindset
    #contentCreatorMindset.modal.fade(tabindex="-1" role="dialog" aria-labelledby="contentCreatorMindset" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Saiba o que levo em consideração
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar formulário")  
            input.modal-primary-button(type="submit" value="Enviar mensagem")

    //Modal developer
    #developerModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="developerModal" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Conheça o Kevin desenvolvedor
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar formulário")  
            input.modal-primary-button(type="submit" value="Enviar mensagem")

    //Modal designer
    #designerModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="designerModal" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Conheça o Kevin designer
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar formulário")  
            input.modal-primary-button(type="submit" value="Enviar mensagem")

    //Modal content creator
    #contentCreatorModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="contentCreatorModal" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Conheça o Kevin criador de conteúdo
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.modal-secondary-button(type="button" data-dismiss="modal" value="Fechar formulário")  
            input.modal-primary-button(type="submit" value="Enviar mensagem")

    .back-to-top(onclick="backToTop()")
      i.fas.fa-chevron-up.fa-4x

    footer.footer
      .footer__social-media
        p Confira minhas redes sociais
        .footer__social-media__links
          a(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="Siga-me no Instagram").fab.fa-instagram.fa-2x
          a(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="Siga-me no Twitter").fab.fa-twitter.fa-2x
          a(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank")
            i.footer__social-media__icon(data-toggle="tooltip" title="Confira meu LinkedIn").fab.fa-linkedin-in.fa-2x
          a(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color")
            i.footer__social-media__icon(data-toggle="tooltip" title="Confira meu GitHub").fab.fa-github.fa-2x
      .footer__message
        p Feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong Kevin Quintino].
