doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml")
  head
    include includes/head
  body
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-N8WW2TZ' height='0' width='0' style='display:none; visibility:hidden')
    section#sectionOne.above-the-fold
      header.above-the-fold__top
        a(href="https://kevinnicolasbq.com/")
          img(src="img/logomark.svg" alt="")
        h1.above-the-fold__top__name #[mark kevin quintino]
        a(href="https://blog.kevinnicolasbq.com/" title="visite meu blog")
          input.primary-button(type="button" value="confira meu blog" tabindex="-1")
      .above-the-fold__message
        h1 oi, eu sou o #[mark kevin], eu projeto e desenvolvo #[br] experiências memoráveis
      .above-the-fold__check-more
        a.link(href="#" onclick="scrollToSecondSection('sectionTwo'); return false;") saiba mais sobre mim #[br]
        i.fa.fa-chevron-down.fa-3x(aria-hidden="true" onclick="scrollToSecondSection('sectionTwo'); return false;")
    section#sectionTwo.under-the-fold
      .under-the-fold__bar
      .under-the-fold__resume 
          h1 pesquisa, design e desenvolvimento de experiências do usuário
          p O desenvolvimento web me cativou. Encontrar e solucionar problemas, projetando e desenvolvendo experiências que permitem seus usuários ideais atingirem seus objetivos de forma eficaz, eficiente e satisfatória, me traz uma enorme satisfação pessoal.
          p Meu modus operandi consiste em alinhar os interesses dos usuários com os interesses do negócio, gerando o máximo valor para ambos.
          p Atualmente, moro em São Paulo e atuo como designer de experiência do usuário na 
            a.link-alternative(href="https://www.vhita.com.br/pages/sobre-nos-vhita" target="_blank" rel="noopener noreferrer" translate="no") vhita.
      .container-lg.col-md-12.under-the-fold__summary
        .row.under-the-fold__summary__row
          .col-md-4.under-the-fold__summary__row__left-column
            h1 UX researcher
            hr
            p como pesquisador de UX, busco ter eficácia e evitar o meu próprio viés na identificação e definição de usuários e problemas de um design.
            hr
            p sigo os princípios da pesquisa científica; 
              a.link(href="https://www.interaction-design.org/literature/article/before-you-start-designing-it-s-time-to-get-out-of-the-building" target="_blank" rel="noopener noreferrer") GOOB
              |  e 
              a.link(href="https://blog.prototypr.io/what-is-atomic-research-e5d9fbc1285c" target="_blank" rel="noopener noreferrer") atomic UX research
              | .  
          .col-md-4.under-the-fold__summary__row__middle-column
            h1 UX designer
            hr
            p como designer de experiência do usuário, busco ter criatividade e eficácia na resolução de problemas de um design, sem negligenciar nenhum usuário.
            hr
            p sigo os princípios e valores do 
              a.link(href="https://www.interaction-design.org/literature/article/a-simple-introduction-to-lean-ux" target="_blank" rel="noopener noreferrer") lean UX
              | ; 
              a.link(href="https://www.interaction-design.org/literature/topics/design-thinking" target="_blank" rel="noopener noreferrer") design thinking
              | ; 
              a.link(href="https://www.interaction-design.org/literature/topics/user-centered-design" target="_blank" rel="noopener noreferrer") user-centered design
              |  e 
              a.link(href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank" rel="noopener noreferrer") WCAG
              | .
            
          .col-md-4.under-the-fold__summary__row__right-column
            h1 front-end developer
            hr
            p como desenvolvedor front-end, busco implementar uma solução da forma mais otimizada, escalável e de fácil manutenção possível.
            hr
            p sigo os princípios e valores do 
              a.link(href="https://agilemanifesto.org/iso/ptbr/manifesto.html" target="_blank" rel="noopener noreferrer") manifesto ágil
              | ; 
              a.link(href="https://gist.github.com/wojteklu/73c6914cc446146b8b533c0988cf8d29" target="_blank" rel="noopener noreferrer") clean code
              | ; 
              a.link(href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank" rel="noopener noreferrer") arquitetura MVC
              |  e 
              a.link(href="https://www.w3.org/WAI/standards-guidelines/aria/" target="_blank" rel="noopener noreferrer") ARIA
              | .
      .under-the-fold__contact-me
        .under-the-fold__contact-me__content
          h1 vamos desenvolver algo incrível?!
          p adoraria te ajudar a solucionar seus problemas ou contribuir com seu projeto.#[br]envie-me um e-mail, vamos conversar!
          a.link.under-the-fold__contact-me__content__e-mail(href="mailto:hello@kevinnicolasbq.com" title="envie-me um e-mail") hello@kevinnicolasbq.com
          .under-the-fold__contact-me__content__location
            i.fas.fa-map-marker-alt(aria-hidden="true")
            | são paulo, sp, brasil. 
    .back-to-top
      a(href="#" name="voltar ao topo" onclick="scrollToSecondSection('sectionOne'); return false;")
        i.fas.fa-chevron-up.fa-4x
    footer.footer
      .footer__social-media
        p confira minhas redes sociais
        .footer__social-media__links
          a(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener noreferrer" target="_blank")
            i.footer__social-media__links__icon(data-toggle="tooltip" title="siga-me no instagram" aria-hidden="true").fab.fa-instagram.fa-2x
          a(href="https://twitter.com/kevinnicolasbq" rel="noopener noreferrer" target="_blank")
            i.footer__social-media__links__icon(data-toggle="tooltip" title="siga-me no twitter" aria-hidden="true").fab.fa-twitter.fa-2x
          a(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener noreferrer" target="_blank")
            i.footer__social-media__links__icon(data-toggle="tooltip" title="conecte-se comigo" aria-hidden="true").fab.fa-linkedin-in.fa-2x
          a(href="https://github.com/kevinnicolasbq/" rel="noopener noreferrer" target="_blank" class="tooltip-color")
            i.footer__social-media__links__icon(data-toggle="tooltip" title="confira meu github" aria-hidden="true").fab.fa-github.fa-2x
      .footer__message
        p feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café" aria-hidden="true")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados" aria-hidden="true")] 2021.
    script().
      $(".fa-chevron-down").removeClass("link");