doctype html
html(lang="pt-br")
  head
    include includes/head
  body.dark
    section.above-the-fold
      header.above-the-fold__top
        img(src="img/logomark.svg" onclick="toHome()")
        input(type="button" value="Diga um oi")
      .above-the-fold__message
        p Oi, eu sou o #[strong Kevin]. Eu projeto e desenvolvo
        p { interfaces de usuário }
      .above-the-fold__check-more(onclick="scrollToSectionTwo()")
        p saiba mais sobre mim
        i.fa.fa-chevron-down.fa-3x

    section#sectionTwo.under-the-fold
      .under-the-fold__bar

      .under-the-fold__resume 
        h1 Lorem ipsum dolor sit amet consectetur.
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi ab deleniti laboriosam sunt quo. Totam aperiam minima quae iste quis repudiandae sint, delectus, commodi libero voluptate tenetur earum rerum quas doloremque, minus qui exercitationem similique magni sit quibusdam consectetur. Voluptate ut saepe esse harum, nemo laudantium quod qui id voluptates excepturi minus consequatur dignissimos architecto.
      .container-lg.under-the-fold__summary
        .col-lg-4.under-the-fold__summary__left-column
          h1 Desenvolvedor front-end
          p Desenvolver sites otimizados, acessíveis e responsivos é uma tarefa que me traz muito prazer e satisfação.
          h2 Tecnologias que eu uso
          p HTML
          p CSS
          p JS
          p GulpJS
          p SASS
          p PugJS
          p WordPress
          p Bootstrap
          p Git
        .col-lg-4.under-the-fold__summary__middle-column
          h1 Designer de UX/UI
          p Quando designer, meu foco é projetar interfaces que proporcionem uma boa experiência aos seus usuários.
          h2 Ferramentas que utilizo
          p Lápis e papel
          p Adobe Photoshop
          p Adobe Illustrator
          p Adobe XD
          p InVision App
        .col-lg-4.under-the-fold__summary__right-column
          h1 Criador de conteúdo
          p Saber produzir conteúdo para a web é essencial, utilizando o marketing digital e boas técnicas de SEO.
          h2 O que eu levo em consideração
          p Copywriting
          p Técnicas de SEO
          p Vocabulário coerente com o do público-alvo
          p Pertinência do tema para o público-alvo
          p Veracidade das informações ou conhecimento passado
          p Clareza e coesão
          p Persuação ao engajamento
          p Criação de comunidade
