doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")
  head
    include includes/head
  body
    section#sectionOne.above-the-fold
      header.above-the-fold__top
        img(src="img/logomark.svg" onclick="toHome()" alt="logomarca" tabindex="0")
        input.primary-button(type="button" value="confira meu blog" tabindex="1")
      .above-the-fold__message
        p oi, eu sou o #[strong kevin], eu projeto e desenvolvo
        p { experiências de usuário }
      .above-the-fold__check-more
        p(onclick="scrollToSectionTwo()") saiba mais sobre mim
        i.fa.fa-chevron-down.fa-3x(onclick="scrollToSectionTwo()" tabindex="2")

    section#sectionTwo.under-the-fold
      .under-the-fold__bar
      .under-the-fold__resume 
        h1 pesquisa, design e desenvolvimento de experiências do usuário
        p O desenvolvimento web sempre me cativou. Projetar e desenvolver experiências que permitem seus usuários realizarem suas tarefas de forma eficaz, eficiente e satisfatória, me traz uma enorme satisfação pessoal.
        p Meu modus operandi consiste em alinhar os interesses dos usuários com os interesses do negócio, gerando o máximo valor para ambos.
      .container-lg.col-md-12.under-the-fold__summary
        .row.under-the-fold__summary__row
          .col-md-4.under-the-fold__summary__row__left-column
            h1 UX researcher
            hr
            p como pesquisador de UX, busco ter eficácia na identificação e definição de usuários e problemas de um design.
            input.secondary-button(type="button" value="como eu pesquiso" data-toggle="modal" data-target="#ResearchModal" tabindex="3")
          .col-md-4.under-the-fold__summary__row__middle-column
            h1 UX designer
            hr
            p como designer de experiência do usuário, busco ter criatividade e eficácia na resolução de problemas de um design.
            input.secondary-button(type="button" value="como eu projeto" data-toggle="modal" data-target="#DesignModal" tabindex="4")
          .col-md-4.under-the-fold__summary__row__right-column
            h1 front-end developer
            hr
            p como desenvolvedor front-end, busco implementar uma solução da forma mais otimizada e escalável possível.
            input.secondary-button(type="button" value="como eu implemento" data-toggle="modal" data-target="#DevModal" tabindex="5")
      .under-the-fold__contact-me
        .under-the-fold__contact-me__content
          h1 vamos desenvolver algo incrível?!
          p adoraria te ajudar a solucionar seus problemas ou contribuir com seu projeto.#[br]envie-me um e-mail, vamos conversar!
          p.under-the-fold__contact-me__content__e-mail #[strong contato@kevinnicolasbq.com]
          .under-the-fold__contact-me__content__location
            i.fas.fa-map-marker-alt
            | são paulo, sp, brasil.
    //modal-01
    #ResearchModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="researchModal" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5.modal-title conheça meu processo de pesquisa
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body

          .modal-footer
            input.primary-button(type="button" data-dismiss="modal" value="fechar janela")  
    //modal-02
    #DesignModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DesignModal" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5.modal-title conheça meu processo de design
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            p #[strong Caneta e papel] - Afinal, a prototipação descartável é uma forma rápida e barata de testar e obter feedback sobre uma ideia.
            p #[strong Adobe XD] - Quando um protótipo mais fidedigno é necessário, utilizo o XD.
            p #[strong Adobe Photoshop] - Quando é necessário manipular alguma imagem, utilizo o Photoshop.
            p #[strong Adobe Illustrator] - Quando é necessário vetorizar alguma imagem, utilizo o Illustrator.
            p #[strong InVision] - Recorro a ele sempre que preciso construir wireframes ou protótipos de baixa fidelidade.
          .modal-footer
            input.primary-button(type="button" data-dismiss="modal" value="fechar janela")  
    //modal-03
    #DevModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="DevModal" aria-hidden="true")
      .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role="document")
        .modal-content
          .modal-header
            h5.modal-title conheça meu processo de implementação
            button.close(type="button" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            
          .modal-footer
            input.primary-button(type="button" data-dismiss="modal" value="fechar janela")    
    .back-to-top
      i.fas.fa-chevron-up.fa-4x(onclick="backToTop()")

    footer.footer
      .footer__social-media
        p confira minhas redes sociais
        .footer__social-media__links
          a(href="https://www.instagram.com/kevinnicolasbq/" rel="noopener" target="_blank" tabindex="6")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no instagram").fab.fa-instagram.fa-2x
          a(href="https://twitter.com/kevinnicolasbq" rel="noopener" target="_blank" tabindex="7")
            i.footer__social-media__icon(data-toggle="tooltip" title="siga-me no twitter").fab.fa-twitter.fa-2x
          a(href="https://www.linkedin.com/in/kevinnicolasbq/" rel="noopener" target="_blank" tabindex="8")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu linkedin").fab.fa-linkedin-in.fa-2x
          a(href="https://github.com/kevinnicolasbq/" rel="noopener" target="_blank" class="tooltip-color" tabindex="9")
            i.footer__social-media__icon(data-toggle="tooltip" title="confira meu github").fab.fa-github.fa-2x
      .footer__message
        p feito com #[i.fas.fa-heart(data-toggle="tooltip" title="amor" class="tooltip-color")] e #[i.fas.fa-mug-hot(data-toggle="tooltip" title="café")] por #[strong kevin quintino] #[i.far.fa-copyright(data-toggle="tooltip" title="todos os direitos reservados")] vintevinte.
