doctype html
html(lang="pt-br" xmlns="http://www.w3.org/1999/xhtml")
  head
    include includes/head
    link(rel="canonical" href="https://eu.kevinquintino.com/")
    title projetando meu site - kevin quintino
  body
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TKD49SL" height='0' width='0' style='display:none; visibility:hidden')
    section#sectionOne.above-the-fold
      header.above-the-fold__top
        a(href="https://eu.kevinquintino.com/" style="float: left;" data-toggle="tooltip" title="minha logo (clicar levará para a página inicial)" aria-hidden="true")
          img(src="img/logo.svg" alt="" aria-hidden="true")
        p(data-toggle="tooltip" title="este é meu nome :v" style="padding-top: 2px;").above-the-fold__top__name kevin quintino
        div(style="display: block; float: right;")
          a.link.above-the-fold__top__blog-link(href="https://eu.kevinquintino.com/" data-toggle="tooltip" title="retornar à página inicial") voltar à página inicial
    section.article-page
      article.article-page__content
        h1 design e desenvolvimento do meu site
        span #[strong data:] início em 2020, atualizado constantemente.
        p(style="margin-top: 16px") 
        h2 definindo o público-alvo 
        p Sendo um portfólio, #[strong defini recrutadores, gestores e outros designers como público-alvo]. Então, a partir de uma pesquisa para os conhecer melhor, defini elementos-chave (informações) que o site precisaria conter para atender às necessidades e expectativas de seu público-alvo.
        p Elementos-chave definidos:
        ul 
          li Quem sou eu, o que eu faço e onde moro;
          li breve trajetória e minha ocupação atual;
          li minhas competências (conhecimentos, habilidades e atitudes);
          li alguns estudos de caso sobre projetos nos quais eu trabalhei;
          li formação e certificações; e
          li meios de contato.
        h2 definindo o conteúdo 
        p 
        h2 definindo a tipografia 
        p Considero a tipografia um dos elementos mais importantes de um site, principalmente portófilos, os quais costumam ter muito conteúdo textual.
        p Sendo assim, #[strong considerei alguns critérios para a definição da tipografia]:
        ul 
          li Tamanho satisfatório para atender as necessidades de deficientes visuais;
          li ser uma fonte projetada para a web (web font), visando desempenho e compatibilidade;
          li ter boa legibilidade (inclusive para disléxicos);
          li representar minha personalidade.
        p Após pesquisas, encontrei a família de fontes #[a.link(href="http://comicneue.com/" target="_blank" rel="noopener noreferrer" translate="no" data-toggle="tooltip" title="saber mais sobre a Comic Neue" lang="en") Comic Neue]. Ela é uma reinterpretação da famigerada #[a.link(href="https://en.wikipedia.org/wiki/Comic_Sans" target="_blank" rel="noopener noreferrer" translate="no" data-toggle="tooltip" title="saber mais sobre a Comic Sans" lang="en") Comic Sans]. 
        p Ela foi projetada visando resolver os problemas da Comic Sans, mantendo sua essência cômica, irregular e casual, que inclusive é considerada boa para pessoas com dislexia. 
        p Além de se assemelhar à minha caligrafia, eu sou um grande fã de quadrinhos, #[strong por isso ela me conquistou e a defini a família de fontes do site].
        p Ainda mais, #[strong para potencializar a transmissão desta sensação casual e auxiliar na legibilidade,  aderi ao #[a.link(href="https://www.thecut.com/2019/02/reasons-to-type-in-lowercase.html" target="_blank" rel="noopener noreferrer" translate="no" data-toggle="tooltip" title="saber mais sobre lowercase-only" lang="en") lowercase-only]], exceto em siglas ou textos longos (como este).
        h2 definindo a paleta de cores 
        p Inegavelmente, #[strong cores são poderosos transmissores de sensações e significados]. Desde o começo desejei uma paleta de cores pequena.
        h3 cor principal 
        p por sorte, minha cor favorita (o cinza ardósia escuro #[text(style="background-color: #2f4f4f; color #2f4f4f;border-radius: 6px; border: 1px solid #2f4f4f;") &nbsp&nbsp&nbsp]):
        ul 
          li Representa bem minha personalidade;
          li possui uma proporção de contraste excelente em relação ao branco (8.93:1), logo, favorece a acessibilidade do site;
          li é versátil, agradável quando usada em textos ou como plano de fundo.
        p Por isso, ela é a cor principal da paleta de cores do meu site.
        h3 cor de destaque
        p Para destaque, busquei uma cor que: 
        ul 
          li Fosse associada com marca textos ou #[em post it's];
          li não fosse tão saturada ou brilhosa;
          li tivesse uma boa proporção de contraste em relação à cor principal.
        p Então escolhi este tom de amarelo: #[text(style="background-color: #ffe383; color #ffe383;border-radius: 6px; border: 1px solid #2f4f4f;") &nbsp&nbsp&nbsp], pois ele: 
        ul 
          li Assemelha-se a um tom de marca texto ou #[em post it];
          li não é exageiradamente saturado ou brilhoso;
          li tem uma boa proporção de contraste em relação ao cinza ardósia escuro (7.04:1). 
        p Ele não tem uma boa proporção de contraste em relação ao branco (bastante presente no site), mas apenas o utilizei em combinação com a cor principal.
        h3 cores para textos 
        p Para os textos, quando eu não utilizo a cor principal, utilizo cores da escala do cinza, sempre me atentando à proporção de contraste em relação à cor do plano de fundo: 
        ul 
          li texto base:
            ul
              li(style="font-size: 1em;") quando o fundo é branco: #444444 #[text(style="background-color: #444; color #444;border-radius: 6px; border: 1px solid #2f4f4f;") &nbsp&nbsp&nbsp]
              li(style="font-size: 1em;") quando o fundo é escuro: #ffffff #[text(style="background-color: #fff; color #fff;border-radius: 6px; border: 1px solid #2f4f4f;") &nbsp&nbsp&nbsp]
          li títulos: 
            ul
              li(style="font-size: 1em;") quando o fundo é branco: #555555 #[text(style="background-color: #555; color #555;border-radius: 6px; border: 1px solid #2f4f4f;") &nbsp&nbsp&nbsp]
              li(style="font-size: 1em;") quando o fundo é escuro: #ffffff #[text(style="background-color: #fff; color #fff;border-radius: 6px; border: 1px solid #2f4f4f;") &nbsp&nbsp&nbsp]
        h2 definindo o tom de voz
          p Definir o tom de voz do meu site foi fácil. Afinal, #[strong o único tom de voz que plausível seria o meu tom de voz].
          p Sendo assim, 
        h2 apresentando-me
          p A etapa que mais exigiu das minhas habilidades de autoconhecimento e empatia, pois precisei combinar a minha percepção sobre mim com a percepção que outras pessoas disseram ter sobre mim.
          p 
        h2 definindo os pilares
        
        div(style="text-align: center; margin-top: 36px;")
          a.link(href="http://eu.kevinquintino.com" title="voltar para a página inicial" data-toggle="tooltip" style="font-size: 1.8em")
            span(class="material-icons-round" aria-hidden="true" style="font-size: 1em;") arrow_back
            |  voltar para a página inicial 
    .back-to-top(style="display: none;")
        span(class="material-icons-round" title="voltar ao topo" onclick="ScrollTo('sectionOne'); return false;" aria-hidden="true" style="font-size: 6.4em") expand_less
    include includes/footer
    script.
      $(".fa-chevron-down").removeClass("link");
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });