html, body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

*:focus {
  outline-color: #4d8282 !important;
  outline-offset: 2px !important;
  outline-style: dashed !important;
  outline-width: 2px !important; }

body,
input,
textarea,
button {
  font-family: "Comic Neue", sans-serif;
  font-size: 62.5%;
  transition: all 0.69s ease;
  letter-spacing: 0.032em; }

mark {
  background-color: #ff0;
  padding: 0;
  color: #2f4f4f; }

strong {
  font-family: "Nunito", sans-serif;
  font-weight: 600; }

::selection {
  background-color: #ff0;
  color: #2f4f4f; }

:-moz-selection {
  background-color: #ff0;
  color: #2f4f4f; }

.primary-button {
  font-family: "Nunito", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: #fff;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: #2f4f4f;
  border: 2px solid #2f4f4f;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44); }
  .primary-button:hover {
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    background-color: #2b4949;
    color: #fff;
    cursor: pointer; }
  .primary-button:active {
    transform: translateY(2px);
    -moz-box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4);
    box-shadow: 0px 2px 6px rgba(47, 79, 79, 0.4); }

.secondary-button {
  font-size: 1.8em;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #2f4f4f;
  padding: 4px 12px 4px 12px;
  border-radius: 6px;
  background-color: #fff;
  border: 2px solid #2f4f4f;
  transition: 0.2s;
  -moz-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  -webkit-box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44);
  box-shadow: 0px 2px 8px rgba(47, 79, 79, 0.44); }
  .secondary-button:hover {
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.44);
    background-color: #c1dada;
    cursor: pointer; }
  .secondary-button:active {
    transform: translateY(2px);
    -moz-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
    -webkit-box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4);
    box-shadow: 0px 2px 12px rgba(47, 79, 79, 0.4); }

.link {
  color: #2f4f4f;
  text-decoration: underline;
  font-weight: 400; }
  .link:hover {
    color: #467575; }
  .link:active {
    color: #274242; }

.above-the-fold {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh; }
  .above-the-fold__top {
    height: 20%;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px; }
    .above-the-fold__top img {
      width: 48px;
      height: 48px;
      float: left;
      transition: 0.2s; }
      .above-the-fold__top img:hover {
        cursor: pointer;
        transform: scale(1.069); }
    .above-the-fold__top input {
      float: right; }
  .above-the-fold__message {
    height: 70%;
    font-size: 3.6em;
    text-align: center;
    line-height: 1.2em;
    padding: 16px;
    padding-top: 20vh;
    color: #2f4f4f; }
  .above-the-fold__check-more {
    height: 10%;
    text-align: center;
    color: #2f4f4f;
    z-index: 2;
    display: block; }
    .above-the-fold__check-more a {
      font-size: 1.8em;
      margin-bottom: 0;
      color: #2f4f4f;
      text-decoration: underline; }
    .above-the-fold__check-more:hover {
      cursor: pointer; }
      .above-the-fold__check-more:hover i {
        transition: 0.2s ease-in-out;
        transform: translateY(4px); }
    .above-the-fold__check-more i {
      font-size: 1.8em; }

.under-the-fold {
  width: 100%; }
  .under-the-fold__bar {
    width: 100%;
    height: 640px;
    background-color: #2f4f4f;
    position: absolute;
    z-index: -1; }
  .under-the-fold__resume {
    max-width: 960px;
    margin: 0px auto;
    padding: 30px;
    padding-top: 96px; }
    .under-the-fold__resume h1 {
      font-size: 2.8em;
      color: #fff;
      font-family: "Nunito", sans-serif;
      text-align: center;
      line-height: 2.8em;
      font-weight: 600; }
    .under-the-fold__resume p {
      font-size: 1.8em;
      color: #fff;
      text-align: center;
      line-height: 1.5em;
      font-weight: 400; }
  .under-the-fold__summary {
    margin: 64px auto;
    text-align: center; }
    .under-the-fold__summary h1 {
      font-size: 2.4em;
      font-weight: 600;
      margin-bottom: 20px;
      font-family: "Nunito", sans-serif;
      color: #2f4f4f; }
    .under-the-fold__summary p {
      font-size: 1.8em;
      margin: 0;
      padding: 8px;
      color: #2f4f4f; }
    .under-the-fold__summary input {
      margin-top: 12px;
      font-size: 1.7em; }
    .under-the-fold__summary__row {
      margin: auto;
      align-content: center;
      justify-content: center;
      max-width: 1200px; }
      .under-the-fold__summary__row__left-column {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border: 1px solid #2f4f4f;
        background-color: #fff;
        padding: 24px; }
      .under-the-fold__summary__row__middle-column {
        border-bottom: 1px solid #2f4f4f;
        border-top: 1px solid #2f4f4f;
        background-color: #fff;
        padding: 24px; }
      .under-the-fold__summary__row__right-column {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        border: 1px solid #2f4f4f;
        background-color: #fff;
        padding: 24px; }
  .under-the-fold__contact-me {
    width: 100%;
    height: 540px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto; }
    .under-the-fold__contact-me__content {
      width: 860px;
      height: 256px;
      color: #2f4f4f;
      text-align: center;
      margin: 96px auto; }
      .under-the-fold__contact-me__content h1 {
        font-size: 3.6em;
        font-family: "Nunito", sans-serif;
        padding: 16px; }
      .under-the-fold__contact-me__content p {
        padding: 8px;
        font-size: 2em; }
      .under-the-fold__contact-me__content__e-mail {
        padding: 8px;
        font-size: 2.4em !important;
        font-family: "Nunito", sans-serif;
        color: #2f4f4f;
        text-decoration: underline;
        font-weight: 400; }
        .under-the-fold__contact-me__content__e-mail:hover {
          color: #467575; }
        .under-the-fold__contact-me__content__e-mail:active {
          color: #274242; }
      .under-the-fold__contact-me__content__location {
        padding-top: 12px;
        font-size: 1.8em; }
        .under-the-fold__contact-me__content__location i {
          margin-right: 8px; }

.back-to-top {
  position: fixed;
  width: 30px;
  bottom: 16px;
  transition: 0.2s;
  right: 0; }
  .back-to-top i {
    float: right;
    margin-right: 24px;
    color: #3e6969;
    transition: 0.2s; }
    .back-to-top i:hover {
      cursor: pointer;
      color: #203535; }

.footer {
  margin-top: 44px;
  width: 100vw;
  height: 360px;
  background-color: #2f4f4f; }
  .footer__social-media {
    width: 256px;
    height: 240px;
    margin: auto;
    text-align: center; }
    .footer__social-media p {
      width: 100%;
      text-align: center;
      padding-top: 104px;
      margin-bottom: -80px;
      font-size: 2em;
      color: #fff; }
    .footer__social-media a {
      margin-right: 8px;
      margin-left: 8px; }
    .footer__social-media__icon {
      width: 48px;
      height: 48px;
      border: 1px solid rgba(255, 255, 255, 0.69);
      padding: 13.5px;
      border-radius: 50%;
      margin-top: 108px; }
      .footer__social-media__icon:hover {
        border-color: white;
        cursor: pointer;
        transition: 0.2s; }
    .footer__social-media i {
      color: #fff !important; }
  .footer__message {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
    margin-top: 4px; }
    .footer__message i:hover {
      color: white; }

.modal {
  max-height: 88%; }

.modal-open {
  overflow-y: hidden;
  padding-right: 0 !important; }

.modal-content {
  width: 760px; }

.tooltip-inner {
  background-color: #fff;
  color: #2f4f4f; }

.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #fff !important; }

.modal-title {
  color: #2f4f4f;
  font-size: 2.4em;
  font-family: "Nunito", sans-serif;
  font-weight: 700; }

.modal-body label {
  font-size: 1.4em;
  margin-bottom: 2px; }

.modal-body p {
  font-size: 1.8em;
  color: #2f4f4f; }

.modal-body h5 {
  font-size: 2.4em;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  color: #2f4f4f; }

textarea:focus,
input:focus,
button:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(47, 79, 79, 0.8);
  box-shadow: 0 1px 1px rgba(47, 79, 79, 0.075) inset, 0 0 8px rgba(47, 79, 79, 0.6);
  outline: 0 none; }

@media (max-width: 767px) {
  .modal-content {
    width: 98%; }
  .back-to-top {
    display: none; }
  .above-the-fold {
    height: 90vh; }
    .above-the-fold__message {
      font-size: 2.8em;
      margin-top: -52px;
      margin-bottom: 52px; }
  .under-the-fold__resume {
    padding-top: 64px; }
    .under-the-fold__resume h1 {
      line-height: 1.5em; }
  .under-the-fold__bar {
    height: 960px; }
  .under-the-fold__summary {
    margin-top: 32px; }
    .under-the-fold__summary__row__left-column {
      border: 1px solid #2f4f4f;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom-left-radius: 0;
      margin-bottom: -1px; }
    .under-the-fold__summary__row__middle-column {
      border: 1px solid #2f4f4f;
      margin-bottom: -1px; }
    .under-the-fold__summary__row__right-column {
      border: 1px solid #2f4f4f;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      border-top-right-radius: 0;
      margin-bottom: 32px; }
  .under-the-fold__contact-me {
    padding: 0; }
    .under-the-fold__contact-me__content {
      margin-top: 0;
      padding: 24px 24px;
      margin-bottom: -200px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .above-the-fold__message {
    margin-top: 36px;
    margin-bottom: -20px;
    height: 68%; }
  .under-the-fold__contact-me__content {
    max-width: 720px; } }
